@page "/fetchdata"

@using SEP6_TEST.Models
@using SEP6_TEST.ApiAccess
@using SEP6_TEST.ApiModels
@using SEP6_TEST.DbAccess

@inject IMovieAccessInfoApi movieApi
@inject IMovieInfoDb moviesDb

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

    @if(Loading == true)
    {
        <p>Loading...</p>
    }
    else 
    {
        
    <table>
        @foreach (var movie in Movies)
        {
        <tr>
            <td>
                @movie.Title
            </td>
            <td>
                @movie.Year
            </td>
            <td>
                @movie.rating.Rating1
            </td>
            <td>
                @movie.rating.Votes
            </td>
        </tr>
        }

    </table>
        //component that takes a MovieBaseInfo as a parameter
    }

@code {
    private List<Movie> Movies = new List<Movie>();

    private List<MovieBaseInfo> MoviesBaseInfo = new List<MovieBaseInfo>();

    private bool Loading = false;

    protected override async Task OnInitializedAsync()
    {
        Loading = true;
        await moviesDb.GetAllMovies();
        Movies = moviesDb.Movies;

        //should get the base info for every movie, add all async methods to a list and run them async

        Loading = false;
    }
}
